body {
    text-align: center;
    background-color: #000;
    color: #00ffcc;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    text-shadow: 0 0 20px #00ffcc;
}

h3 { 
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-shadow: 0 0 20px #00ffcc;
}

label {
    font-size: 15px;
    text-shadow: 0 0 20px #00ffcc;
}

#scoreboard {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 20px #00ffcc;
}

#reset {
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #00ffcc;
    border: 2px solid #00ffcc;
    box-shadow: 0 0 10px #00ffcc;
}